.Rproj.user
.Rhistory
.RData
.Ruserdata
.pdf
.docx
.tex
.log
/*_files/*
/heavy_files/*
/grid_results/*
*.pdf
*.png
*.eps
*.bib
*.xdv
*.tex
*.log
*.aux
*.bbl
*.fls
*.fdb_latexmk
*.DS_Store
*.Rproj
pull_from_grid
push_to_grid
push_to_archive
