<html>
<head>
<title>Joe's annotation task (Aug 2016)</title>
<link href='https://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
<style type="text/css">
    body{
    padding: 10px;
    margin: 10px;
    font-family: 'Cabin Sketch', cursive;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#messagetitle{
  text-align:center;
  color: blue;
  font-size: 4vw;
}
table{
    text-align: center;
}
a{
  text-align:center;
  color: red;
  font-size: 2vw;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
</style>
</head>
<body>

<div id = "messagetitle">Please log in</div>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

</body>